#paper-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joint-paper {
    border: 1px solid #e2e8dd;
}

.joint-cells-layer .joint-cell {
    transition: opacity 0.3s ease;
}

.joint-cells-layer .joint-cell.dimmed {
    opacity: 0.1;
}

.highlighted {
    opacity: 1;
    transition: opacity 0.3s ease;
    @starting-style {
        opacity: 0;
    }

}

#logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
}
