@import "@bryntum/grid/grid.stockholm.css";

.b-rowexpander-body {
    flex    : 1;
    padding : 1em;


}
.b-connectionsgrid {
    flex   : 1;
    border : 1px solid #d8d9da;
}

.b-chip {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* TODO: why is this needed? */
.b-empty-text {
  position: relative !important;
}
